:root {
    --white-page: #ffffff;
    --primary-color: #ff8400;
    --secundary-color: #00c1b5;
    --tertiary-color: #bcfa4a;
    --quaternary-color: #ff58a6;
    --section-dark: #181f27;
    --detalle: rgb(161, 156, 156);
    --detalle-strong: rgb(65, 65, 65);
    
}
* {
    box-sizing: border-box;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--section-dark);
}
html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}
header {
    width: 100vw;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    background-color: black;
    
}
main {
    width: 100vw;
    height: auto;

}
