@import './global.css';

.header_content {
    width: 80%;
    max-width: 900px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header_left {
    width: auto;
    height: 60px;
    display: flex;
    gap: 12px;
    align-items: center;
   
}
.header_left img {
    width: 24px;
    height: 28px;
    object-fit: cover;
    margin-bottom: 4px;
}
.header_left p {
    font-family: 'Bruno Ace', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.6px;
    color: var(--white-page);
}
.header_right {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;

}
.buton_contact{
    text-decoration: none;
    color: var(--white-page);
    padding: 4px 12px;
    border: solid 2px var(--primary-color);
    border-radius: 8px;
    font-size: 1rem;
    letter-spacing: 1.2px;
    transition: all 0.5s ease-in-out;
}
.contact_addedt_menu {
    color: #ffffff;
    padding: 6px 16px;
    border: solid 1px #ffffff;
    transition: all 0.5s ease-in-out;

}
@media screen and (min-width: 700px) and (min-height: 510px) {
    .header_left img {
        width: 30px;
        height: 36px;
        object-fit: cover;
        margin-bottom: 4px;
    }
    .header_left p {
        font-size: 2.2rem;
        letter-spacing: 1.8px;
    }

    .buton_contact {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 1200px) {
    .header_left {
        gap: 16px;
    }
    .header_left p {
        font-size: 2.6rem;
        letter-spacing: 2px;
    }
    .buton_contact {
        padding: 4px 16px;
    }
}

@media screen and (min-width: 1900px) {
    .header_left p {
        font-size: 3rem;
        letter-spacing: 2px;
    }
    .buton_contact {
        padding: 4px 20px;
        font-size: 1.6rem;
        border-radius: 10px;
    }
    .contact_addedt_menu {
        font-size: 1.2rem;
        padding: 4px 12px;
        border: solid 1px #ffffff;
        transition: all 0.5s ease-in-out;
        border-radius: 8px;
    }
}