@import './global.css';

.initial_landing {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: black;
}
.initial_landing img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: left; */
}
.container_slider_top {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 56%);  /* fallback for old browsers */
    overflow: hidden;   
}
.container_slider_top ul{
    display: flex;
    flex-direction: column;
    animation: cambio 15s infinite alternate linear;
    width: 100%;
    height: 300%;
}
.container_slider_top li{
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 30vh;
    align-items: flex-end;
    gap: 20px;

}
.container_slider_top li h2 {
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    letter-spacing: 1.2px;
}
.tittle_blue {
    color: var(--secundary-color);
}
.tittle_green {
    color: var(--tertiary-color);
}
.tittle_pink {
    color: var(--quaternary-color);
}
.container_slider_top li p {
    width: 80%;
    text-align: right;
    font-family: 'Roboto Slab', serif;
    font-size: 1.8rem;
    letter-spacing: 0.4px;
    font-weight: 400;
    font-style: italic;
    color: var(--white-page);
}
@keyframes cambio{
    0%{margin-top: 0;}
    40%{margin-top: 0;}
    
    45%{margin-top: -100vh;}
    70%{margin-top: -100vh;}

    75%{margin-top: -200vh;}
    100%{margin-top: -200vh;}
    
}
.content_sliders_points {
    position: absolute;
    width: 12px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: calc(50% - 20px);
    left: 16px;
    overflow-y: hidden;
}
.content_sliders_points ul {
    display: flex;
    flex-direction: column;
    animation: pointsCambio 15s infinite alternate linear;
    width: 100%;
    height: 120px;
    min-height: 120px;
}

.contente_color_points {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    list-style: none;
}
.point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    opacity: 0.5;
}
.point_blue {
    background-color: var(--secundary-color);
}
.point_pink {
    background-color: var(--quaternary-color);
}
.point_green {
    background-color: var(--tertiary-color);
}
.active_pointSlider {
    width: 8px;
    height: 8px;
    opacity: 1;
}

@keyframes pointsCambio{
    0%{margin-top: 0;}
    40%{margin-top: 0;}
    
    41%{margin-top: -40px;}
    70%{margin-top: -40px;}

    71%{margin-top: -80px;}
    100%{margin-top: -80px;}
    
}

.footer_initial_landing {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    padding: 8px 0 60px;
}

.get_budget {
    width: 320px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border: solid 2px var(--primary-color);
    border-left: none;
    border-radius: 0 20px 20px 0;
}   

.get_budget a {
    text-decoration: none;
    font-size: 1rem;
    color: var(--white-page);
}

.tope_etymology {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.tope_etymology p {
    font-size: 0.8rem;
    color: var(--white-page);
    font-family: 'Bruno Ace', sans-serif;
    letter-spacing: 0.8px;
}
.tope_etymology p strong {
    color: var(--primary-color);
}
@media screen and (min-width: 700px) {
    .initial_landing img {
        width: 92%;
        height: 86%;
    }
    .container_slider_top li {
        padding: 30vh 8% 0;
        gap: 36px;
    }
    .container_slider_top li h2 {
        font-size: 3.4rem;
        letter-spacing: 1.4px;
    }
    .container_slider_top li p {
        width: 66%;
        font-size: 2.4rem;
        letter-spacing: 0.8px;
    }

    .footer_initial_landing {
        gap: 40px;
        padding: 16px 0 68px;
    }

    .get_budget {
        width: 540px;
        height: 40px;
       
    }
    .get_budget a {
        font-size: 1.6rem;
    }
    .tope_etymology p {
        font-size: 1.2rem;
        letter-spacing: 1.2px;
    }
    .content_sliders_points {
        width: 16px;
        height: 60px;
        top: calc(50% - 30px);
        left: 20px;
    }
    .contente_color_points {
        height: 60px;
        gap: 8px;
    }
    .content_sliders_points ul {
        height: 180px;
        min-height: 180px;
    }
    .point {
        width: 8px;
        height: 8px;
    }
    .active_pointSlider {
        width: 12px;
        height: 12px;
    }
    @keyframes pointsCambio{
        0%{margin-top: 0;}
        40%{margin-top: 0;}
        
        41%{margin-top: -60px;}
        70%{margin-top: -60px;}
    
        71%{margin-top: -120px;}
        100%{margin-top: -120px;}
        
    }
    
}













