@import './global.css';

.nav_identity_pages {
    width: 50%;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    transition: all 0.5s ease-in-out;
}
.nav_item_menu_pages {
    display: none;
}
.content_bars {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_item_plans_menu {
    width: 200px;
    height: auto;
    position: fixed;
    top: 60px;
    right: 0;
    background-color: var(--white-page);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 16px;
    gap: 8px;
    z-index: 8;
    border-radius: 0 0 0 12px;
    clip-path: inset(0 0 100% 0);
    transition: all 0.3s ease-in-out;
}
.ative_plans_item_menu {
    clip-path: inset(0 0 0 0);
    transition: all 0.6s ease-in-out;
}
.active_plans_menu_icon {
    transform: rotateX(180deg);
    transition: all 0.6s ease-in-out;
}

body {
    background-color: var(--section-clear) !important;
}
.section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;
}
.header_sections_plans{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.title_plans {
    width: 180px;
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.title_plans h2 {
    color: var(--white-page);
    font-size: 1.8rem;
}
.title_plans p {
    color: var(--section-clear);
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.2px;
}
.title_seo {
    clip-path: polygon(0 0, 100% 0, 100% 73%, 73% 100%, 0 87%);
    background-color: var(--secundary-color);
    padding: 20px 0 0 16px;
}
.title_ads {
    clip-path: polygon(0 1%, 100% 1%, 100% 49%, 80% 100%, 31% 92%, 0 94%);
    background-color: var(--quaternary-color);
    padding: 14px 0 0 16px;
}
.title_social {
    clip-path: polygon(100% 0, 100% 60%, 87% 82%, 90% 100%, 44% 100%, 0 86%, 0 0);
    background-color: #88cf02;
    padding: 14px 0 0 16px;
}
.title_web {
    clip-path: polygon(100% 1%, 100% 57%, 94% 100%, 73% 91%, 39% 91%, 24% 100%, 0 100%, 0 0);
    background-color: var(--quaternary-color);
    padding: 14px 0 0 16px;
}
.content_body_section {
    width: 80%;
    max-width: 800px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    margin: 20px 0;

}
.content_body_section p {
    font-size: 1.2rem;
    color: var(--white-page);
    opacity: 0.8;
}
.content_body_section p strong {
    opacity: 1;
}
.content_body_section h3 {
    font-size: 1.4rem;
    color: var(--white-page);
    opacity: 0.8;
}
.content_body_section h3 strong {
    color: var(--primary-color);
    opacity: 1;
}
.section2 {
    padding-top: 10px;
}
@media screen and (min-width: 700px) and (min-height: 510px){
    .title_plans {
        width: 240px;
        height: 160px;
        gap: 16px;
    }

    .title_plans h2 {
        font-size: 2.2rem;
    }

    .title_plans p {
        color: var(--section-clear);
        font-size: 1.8rem;
    }
    .content_body_section {
        gap: 12px;
        margin: 40px 0;
    }
    .content_body_section p,
    .content_body_section h3 {
        font-size: 1.8rem;
        letter-spacing: 0.4px;
    }
}

@media screen and (min-width: 1200px) {
    .nav_identity_pages {
        width: 80%;
    }
    .content_item_plans_menu {
        display: none;
    }
    .nav_identity_pages a {
        width: 18px;
        height: 18px;
    }
    .nav_item_menu_pages {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 12px;
        padding: 0px 0px 0 20px;
    }
    .nav_item_menu_pages a {
        width: auto;
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        gap: 4px;
        color: var(--white-page);
        font-size: 1.4rem;
    }
    .nav_item_menu_pages a:hover {
        opacity: 1;
        margin-bottom: 8px;
    }
    .title_plans {
        width: 300px;
        height: 180px;
        gap: 20px;
        padding: 24px 0 0 24px;
    }
    .title_plans h2 {
        font-size: 2.6rem;
    }
    .title_plans p {
        color: var(--section-clear);
        font-size: 2rem;
        width: 80%;
    }

    .content_body_section {
        gap: 14px;
        margin: 60px 0;
    }
}
@media screen and (min-width: 1900px) {
    
    .nav_item_menu_pages {
        gap: 16px;
        padding: 0px 0px 0 40px;
    }
    .nav_item_menu_pages a {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 4px;
        color: var(--white-page);
        font-size: 1.4rem;
    }
}