@import './global.css';

.tope_identity {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.nav_identity {
    width: 100vw;
    height: 40px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* padding-right: 20px; */
    gap: 12px;
    transition: all 0.5s ease-in-out;
}


.fixed_nav_identity {
    position: fixed;
    top: 60px;
    background-color: black;
    z-index: 10;
    gap: 20px;
    transition: all 0.5s ease-in-out;
}

.nav_identity a,
.nav_identity_pages a {
    text-decoration: none;
    width: 20px;
    height: 20px;
}
.nav_identity a span,
.nav_identity_pages a span {
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon_instagram {
    background-image: url(../icons/instagram-white.svg);   
}

.icon_linkedin {
    background-image: url(../icons/linkedin-white.svg);   
}
.icon_google {
    background-image: url(../icons/google-plus-white.svg);   
}
.icon_menu {
    background-image: url(../icons/menu-white.svg);   
}
.content_bars {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_bars span {
    width: 32px;
    height: 32px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;

}

/* pendiente poner el menu */

.content_item_menu {
    width: 200px;
    height: auto;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: var(--white-page);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 0 20px 16px;
    gap: 8px;
    z-index: 8;
    border-radius: 0 0 0 12px;
    clip-path: inset(0 0 100% 0);
    transition: clip-path 0.3s ease-in-out;
}

.ative_item_menu{
    clip-path: inset(0 0 0 0);
    transition: clip-path 0.6s ease-in-out;
}

.fixed_content_item {
    position: fixed;
    top: 100px;
}
.active_back_icon {
    background-color: var(--white-page);
}
.active_menu_icon {
    background-image: url(../icons/menu-open.svg); 
}

.list {
    list-style: none;
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
}
.item_menu {
    font-size: 1.6rem;
    letter-spacing: 0.4px;
    color: black;
    text-decoration: none;
    text-align: left;
    font-weight: 600;
    opacity: 0.8;
    padding-bottom: 2px;
}
.item_menu strong{
    font-family: 'Bruno Ace', sans-serif;
    color: var(--primary-color);
}
.active_position_menu {
    font-size: 1.8rem;
    opacity: 1;
    padding-left: 8px;
    padding-right: 4px;
    /* border-radius:  0 0 0 4px; */
    border-bottom: solid 2px var(--primary-color);
    /* border-left: solid 2px black; */
    font-weight: bold;
}
.nav_item_menu {
    display: none;
}
.content_tope_description {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin-top: 40px;
    overflow: hidden;
}

.content_tope_description h1 {
    font-size: 1.8rem;
    color: var(--white-page);
    margin-bottom: 28px;
}
.content_tope_description h1 strong {
    font-family: 'Bruno Ace', sans-serif;
    color: var(--primary-color);
    font-size: 2rem;
    letter-spacing: 1.2px;
}

.content_tope_description p {
    font-size: 1.2rem;
    color: var(--white-page);
    margin-bottom: 12px;
}
.opacity_description {
    opacity: 0.6;
}

.content_tope_contact {
    width: 100%;
    height: 250px;
    margin-top: 20px;
}
.polygon_contact {
    height: 250px;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    background-color: black;
    display: flex;
    overflow: hidden;
}

.tope_contact_left{
    width: 52%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 36px 0 0 5%;
}

.tope_contact_left h3 {
    font-size: 1.6rem;
    color: var(--white-page);
    margin-bottom: 20px;
}

.tope_contact_left ul li {
    list-style: none;
    font-size: 1.2rem;
    margin-bottom: 4px;
    color: var(--white-page);
}

.tope_contact_left ul li strong {
    font-size: 1.4rem;
    color: var(--secundary-color);
}

.line_separator {
    display: block;
    width: 100%;
    height: 4px;
}

.tope_contact_left ul li a {
    text-decoration: none;
    color: var(--white-page);
}
.tope_contact_right {
    width: 48%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    overflow: hidden;
}

.tope_contact_right img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    object-position: left;
}

.footer_sections {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 20px 0 40px;
}
@media screen and (min-width: 700px) and (min-height: 510px) {
    .nav_identity a, .nav_identity_pages a {
        width: 28px;
        height: 28px;
    }
    .content_bars span {
        width: 36px;
        height: 36px;
    }
    .content_tope_description h1 {
        font-size: 2.6rem;
    }

    .content_tope_description h1 strong {
        font-size: 3rem;
        letter-spacing: 2px;
    }

    .content_tope_description p {
        font-size: 1.8rem;
        margin-bottom: 12px;
    }
    .content_tope_contact {
        width: 100%;
        height: 340px;
        margin-top: 32px;
    }
    .polygon_contact {
        height: 340px;
    }
    .tope_contact_right {
        width: 48%;
        padding-top: 26px;
    }
    .tope_contact_right img {
        height: 340px;
    }

    .tope_contact_left h3 {
        font-size: 2.6rem;
        margin-bottom: 28px;
    }
    .tope_contact_left ul li {
        font-size: 1.8rem;
        margin-bottom: 6px;
       
    }
    .tope_contact_left ul li strong {
        font-size: 2.2rem;
    }
    .line_separator {
        height: 12px;
    }
    .footer_sections {
        gap: 40px;
        margin: 40px 0 60px;
    }
}

@media screen and (min-width: 830px) and (max-height: 500px)  {
    .content_tope_description {
        margin-top: 28px;
    }
    .content_tope_description h1 {
        margin-bottom: 16px;
    }
    .content_tope_description p {
        margin-bottom: 8px;
    }
    .tope_contact_right {
        width: 48%;
        padding-top: 48px;
        overflow: hidden;
    }
    .tope_contact_right img {
        height: 260px;
    }
}
@media screen and (min-width: 1000px) {
    .content_tope_description {
        margin-top: 60px;
    }

    .content_tope_contact {
        margin-top: 48px;
    }
    .footer_sections {
        margin: 60px 0;
    }
}

@media screen and (min-width: 1200px) {
    .content_bars, .content_item_menu {
        display: none;
    }
    .nav_item_menu {
        width: auto;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 20px;
        padding: 0 40px 0 80px;
    }
    .list {
        width: auto;
        height: 100%;
    }
    /* .nav_item_menu a {
        width: auto;
        height: 100%;
        
    } */
    .nav_item_menu a {
        width: auto;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        gap: 4px;
        color: var(--white-page);
    }
    .nav_item_menu a:hover {
        opacity: 1;
        margin-bottom: 8px;
    }
    .item_menu {
        opacity: 0.6;
    }
    .active_position_menu {
        font-size: 2rem;
        opacity: 1;
    }
    .content_tope_description {
        margin-top: 80px;
    }
    .content_tope_description h1 {
        font-size: 2.8rem;
        margin-bottom: 40px;
        letter-spacing: 1px;
    }
    .content_tope_description p {
        font-size: 1.8rem;
        margin-bottom: 16px;
        letter-spacing: 0.4px;
    }
    .content_tope_contact {
        margin-top: 60px;
        height: 380px;
    }
    .polygon_contact {
        height: 380px;
        justify-content: space-between;
    }
    .tope_contact_left {
        padding: 44px 0 0 8%;
    }
    .tope_contact_left h3 {
        font-size: 2.6rem;
        margin-bottom: 40px;
    }
    .line_separator {
        height: 20px;
    }
    .tope_contact_right {
        width: 40%;
        padding-top: 60px;
    }
    .tope_contact_right img {
        height: 380px;
    }
}

@media screen and (min-width: 1900px) {
    .nav_item_menu {
        gap: 28px;
        padding: 0px 80px 0 90px;
    }
    .item_menu {
        font-size: 1.8rem;
    }
    .item_menu {
        font-size: 2.2rem;
    }
    .content_tope_description {
        margin-top: 100px;
    }
    .content_tope_description h1 {
        font-size: 3rem;
    }
    .content_tope_description p {
        font-size: 2rem;
    }
    .content_tope_contact {
        margin-top: 80px;
        height: 400px;
    }
    .polygon_contact {
        height: 400px;
        justify-content: space-between;
    }
    .tope_contact_left {
        padding: 50px 0 0 14%;
    }
    .tope_contact_left h3 {
        font-size: 2.8rem;
        margin-bottom: 40px;
        letter-spacing: 0.8px;
    }
    .tope_contact_left ul li {
        font-size: 2rem;
        margin-bottom: 6px;
    }
    .tope_contact_left ul li strong {
        font-size: 2.4rem;
    }
    .line_separator {
        height: 30px;
    }
    .tope_contact_right {
        width: 28%;
        padding-top: 60px;
    }
    .tope_contact_right img {
        height: 400px;
    }
    .footer_sections {
        margin: 80px 0;
    }
}